extends layout

block content
   .jumbotron
      .container
        h1 #{title}
        p
          | В этой статье я постараюсь дать несколько советов по восстановлению вашего домашнего компьютера после поломки. Вам лишь понадобится умение работеть отверткой и немного смелости. 
        p
          a.btn.btn-primary.btn-lg(href='/pages/broken_pc', role='button') Читать далее »
    .container
      .row
        .col-md-4
          h2 Вирусы
          p
            | Что делать если вылазят много рекламы где ее быть недолжно? Что делать если у вас появилось сообщение типа: "Ваш компьютер заблокирован"? Либо у вас есть другие подозрения на вирусы?
          p
            a.btn.btn-default(href='/pages/viruses', role='button') Посмотреть детали »
        .col-md-4
          h2 Синий экран (BSOD)
          p
            | Что это? Откуда он взялся? Как определить причину возникновения(софт или железо)? Что стоит делать для устранения ошибки? 
          p
            a.btn.btn-default(href='/pages/bsod', role='button') Посмотреть детали »
        .col-md-4
          h2 Проблемы ноутбуков
          p
            | В данной теме постараюсь в кратце охватить всевозможные проблемы связанные с ноутбуками, пути решения этих проблем и то - чего лучше самому не делать. 
          p
            a.btn.btn-default(href='/pages/notebooks_problems', role='button') Посмотреть детали »