extends ../layout

block content
 .container.col-md-8.col-md-offset-2
  .page-header
   h1 Сломался компьютер? Починим!

  p.lead
   b Что мы делаем, когда наш компьютер ломается?
   | - Конечно же, несем его в сервис или к другу компьютерщику. В первом случае вам придется выложить кругленькую сумму, во втором просто смотреть на недовольное лицо друга. Чтобы избежать таких неловких моментов и излишней траты денег давайте попробуем отремонтировать компьютер самостоятельно.
  blockquote.blockquote-reverse 
   | Сразу хочу предупредить, все действия, которые будете проводить над своим компьютером, вы осуществляете на свой страх и риск. Я лишь делюсь своим опытом, который, как известно – «сын ошибок трудных».
  p.lead
   | Конечно же, бывают случаи, когда без друга компьютерщика и сервиса по ремонту не обойтись. Поэтому давайте разберем 
   b ситуации, с которыми мы справиться не сможем:
   ul
    li Из компьютера пошел дым
    li Поломка связана с вирусной атакой
    li Поломка связана с перебоями напряжения
   
   strong В каких же случая моя помощь может пригодится: 
   ul
    li Компьютер включается, но начинает пищать
    li Компьютер часто зависает
    li Компьютер включается, но не загружается
  p.lead
   | Попробуем разобрать все случаи в отдельности...